<toaster-container></toaster-container>

<div class="container">

  <div class="row people">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="person in persons | orderBy:'surname'">
        <li ng-click="personSelected(person)"><a href="#">{{person.name}} {{person.surname}} {{person.draws.length}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row filter">
    <div class="col-md-2">
      <p class="input-group">
        {{'STATISTICS.DATE_FROM' | translate}}
        <input type="date" class="form-control" datepicker-popup ng-model="from" is-open="opened"
               ngvrequired="true"/>
      </p>
    </div>

    <div class="col-md-2">
      <p class="input-group">
        {{'STATISTICS.DATE_TO' | translate}}
        <input type="date" class="form-control" datepicker-popup ng-model="to" is-open="opened"
               ngvrequired="true"/>
      </p>
    </div>

    <div class="col-md-1 filter-button">
      <button type="button" class="btn btn-primary" ng-click="filter()">{{'STATISTICS.FILTER' | translate}}</button>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <canvas id="bar" class="chart chart-bar" data="chart.data" labels="chart.labels" width="500" height="400"></canvas>
    </div>
    <div class="col-md-6">
      <ul class="list-group draw" ng-repeat="draw in selectedPerson.draws">
        <li class="list-group-item list-group-item-info">{{draw | date:'medium'}}</li>
      </ul>
    </div>
  </div>
</div>

